# Add @OWNER as an owner of OPA Gatekeeper constraints and templates
ci-pipeline/config-root/cluster/*-constraint.yaml @akulkapoor
ci-pipeline/config-root/cluster/*-template.yaml @akulkapoor
ci-pipeline-unstructured/config-root/constraints @akulkapoor
